@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #ecf0f3;
    grid: display;
    grid-column: 1fr 1fr 1fr;
}

.side-bar{
    position: fixed;
    top: 0px;
    right: 100%;
    width: 300px;
    height: 100vh;
    background: #ecf0f3;
    padding: 12px;
    box-shadow: -3px -3px 7px #ffffff,
                 3px 3px 5px #ceced1,
                 inset -3px -3px 7px #ffffff,
                 inset 3px 3px 5px #ceced1;
    transition: all 0.3s ease;             
}
.side-bar .title{
    display: flex;
    justify-content: space-evenly;
}
.side-bar .title .logo{
    font-size: 20px;
    font-weight: 600;
    color: #31344b;
}
.side-bar .ul{
    margin-top: 35px;
    list-style: none;
}
.side-bar ul a{
    color: #31344b;
    text-decoration: none;
    display: block;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 25px;
    border-radius: 6px;
    box-shadow: -3px -3px 7px #ffffff,
                 3px 3px 5px #ceced1;
    position: relative;
}
.side-bar ul i{
    margin-right: 10px;
}
.media-icons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.media-icons a{
    margin: 0 4px;
    font-size: 17px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    box-shadow: -3px -3px 7px #ffffff,
                 3px 3px 5px #ceced1;
    position: relative;
}
.side-bar ul a:hover:before,
.media-icons a:hover:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ceced1; 
}
.side-bar ul a:hover:before{
    border-radius: 6px;

}
.side-bar ul a{
    color: #3498db;
}
.media-icons a:hover:before{
    border-radius: 50%;
}
.media-icons a:nth-child(1){
    color: #4267b2;
}
.media-icons a:nth-child(2){
    color: #1da1f2;
}
.media-icons a:nth-child(3){
    color: #e1306c;
}
.media-icons a:nth-child(4){
    color: #ce0808;
}
label {
    font-size: 17;
    color: #31344b;
    box-shadow: -3px -3px 7px #ffffff,
                 3px 3px 5px #ceced1;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    text-align: center;  
    line-height: 37px;
    cursor: pointer;  
    transition: 0.3s ease;       
}
.bars{
    position: absolute;
    left: 15px;
    top: 15px;
}
label:hover{
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ceced1;
    color: #3498db;
    border-radius: 50%;
}
#check{
    display: none;
}
#check:checked ~ .side-bar{
    left: 0;
}